* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color : #ffff;
}
body {
  background: linear-gradient(90deg ,#348888 15%, #22BABB 100%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94.3vh;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}



