* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color : #ffff;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

li {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 5rem;
}

.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-nav:hover {
    color: #5FA4F0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding: 5px;
    margin: 10px 10px;
    border-radius: 20px;
    background: #5FA4F0;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    background: #5491D3;
}