* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color : #ffff;
}

body {
    background-color: #d2ba96;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color:#001F1F; */
    height: 100vh;
}

.out {
    color: #5FA4F0;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}
  
.side {
    color : #E0A13A;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}

.description {
    color: #ffff;
    font-size: 1.2rem;
    font-weight: medium;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}