* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color : #ffff;
}

body {
    background: linear-gradient(90deg ,#348888 15%, #22BABB 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
}

.out {
    color: #FA7F08;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}
  
.side {
    color : #348888;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}

.description {
    color: #ffff;
    font-size: 1.2rem;
    font-weight: medium;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #348888;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

img {
    width: 250px;
    height: 166px;
    margin: 10px;
    border-radius: 20px;
}

.btn-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    padding: 5px;
    margin: 10px 0;
    border-radius: 20px;
    background: #F24405;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-explore:hover {
    background: #FA7F08;
}
